
<ion-header>

  <ion-navbar color="dark">
      <button ion-button menuToggle style="margin-top:6%;">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title center style="margin-top:6%;">Kategoriler</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="margin-left: -10px; margin-top: 2%;" *ngIf="!kategoriler">
        <lottie-animation-view *ngIf="!kategoriler"
        [options]="lottieConfig"
        [width]="375"
        [height]="600"
        >
      </lottie-animation-view>
      </div>
      <div style="margin-left: -10px; margin-top: 2%;" *ngIf="!kategoriler">
          <lottie-animation-view *ngIf="!kategoriler"
          [options]="lottieConfig"
          [width]="375"
          [height]="600"
          >
        </lottie-animation-view>
        </div>
  <ion-list *ngFor="let category of kategoriler">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/categorymusic.png">       
        </ion-thumbnail>
        <h2>{{category.CATEGORY}}</h2>        
        <ion-badge item-end>{{category.COUNT}}</ion-badge>
        <button ion-button clear item-end (click)="getIstek(category.ID)">Gözat</button>
      </ion-item>
    </ion-list>
                </ion-content>
